
/* top-level layout */

.property {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.property > :first-child {
	flex: 1 0 50%;
}

.property > :last-child {
	flex: 0 1 50%;
}

/* property image and action button (the first child) */

.property > :first-child {
	position: relative;
}

.property > :first-child > button {
	position: absolute;
	top: 10px;
	left: 10px;
}

.property > :first-child > img {
	display: block;
	max-width: 100%;
	height: 100%;
}

.property button {
	padding: 0.2em 0.5em;
	font-weight: bold;
	color: grey;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	border: none;
	border-radius: 2px;
	background-color: #e3e3e3;
}

/* property details (the second and last child) */

.property > :last-child {
	display: flex;
	flex-direction: column;
	border: 1px solid lightgrey;
	padding: 20px;
}

.property > :last-child > * {
	margin-top: 0;
}

.property > :last-child > .address {
	flex: 1;
	font-size: small;
	color: grey;
}

/* the numerical details of the property */

.property .stats {
	display: flex;
}

.property .stats > * {
	flex: 1;
	white-space: nowrap;
	padding: 0 0.5em;
}

.property .stats > :first-child {
	flex: 2;
	padding-left: 0;
}

.property .stats > :last-child {
	border-left: 1px solid grey;
	padding-right: 0;
}

.property .stats .price {
	font-weight: bold;
}
