
/* layout */

.property {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.property > :first-child {
	flex: 1 0 50%;
	position: relative;
}

.property > :first-child > button {
	position: absolute;
	top: 10px;
	left: 10px;
}

.property > :first-child > img {
	display: block;
	max-width: 100%;
	height: 100%;
}

.property > :last-child {
	flex: 0 1 50%;

	display: flex;
	flex-direction: column;

	border: 1px solid lightgrey;
	padding: 20px;
}

.property > :last-child > * {
	margin-top: 0;
}

.property > :last-child > :nth-child(2) {
	flex: 1;
	font-size: small;
	color: grey;
}

.property > :last-child > :last-child {
	display: flex;
}

.property > :last-child > :last-child > * {
	white-space: nowrap;
}

.property > :last-child > :last-child > :first-child {
	flex: 2;
	font-weight: bold;
}

.property > :last-child > :last-child > :not(:first-child) {
	flex: 1;
	padding: 0 0.5em;
}

.property > :last-child > :last-child > :last-child {
	border-left: 1px solid grey;
}
